# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
env/

# Django static/migrations
staticfiles/
*.sqlite3
db.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp

# VS Code
.vscode/

# Mac/Linux/Windows
.DS_Store
Thumbs.db