{% extends "master.html" %}

{% block title %}
  Tilat - Lista kaikista Tiloista
{% endblock %}

{% block content %}
  <div class="mycard">
    <h1>Tilat</h1>
    <ul>
      {% for x in myspaces %}
        <li>
          <a href="spaces_details/{{ x.slug }}">
            {% if x.type == "office" %}
              Toimisto
            {% elif x.type == "meeting_room" %}
              Kokoushuone
            {% elif x.type == "conference_room" %}
              Konferenssihuone
            {% elif x.type == "event_space" %}
              Tapahtumatila
            {% else %}
              Ei määritelty
            {% endif %}
            - {{ x.location }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}