{% extends "master.html" %}

{% block title %}
  Tilat - Lista kaikista Tiloista
{% endblock %}

{% block content %}
  <h1>Tilat</h1>
  <div class="cards-container">
    {% for x in myspaces %}
      <div class="space-card">
        <div class="space-image"></div>
        <a href="spaces_details/{{ x.slug }}">
          <strong>
            {% if x.type == "office" %}
              Toimisto
            {% elif x.type == "meeting_room" %}
              Kokoushuone
            {% elif x.type == "conference_room" %}
              Konferenssihuone
            {% elif x.type == "event_space" %}
              Tapahtumatila
            {% else %}
              Ei määritelty
            {% endif %}
          </strong>
          <br>
          Sijainti: {{ x.location}}
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}