{% extends "master.html" %}

{% block title %}
  Tilanvarausjarjestelma
{% endblock %}

TODO: Tee napit etusivulle käyttäjät ja tilat kohtaan ja vaihda niiden sisällä oleva teksti erin väriseksi

{% block content %}
  <div class="main">
  
    <div class="mycard-body">
      <h1>Tilojen vuokraus ja lainaus</h1>

      <h2>Käyttäjät</h2>
      
      <p>Näe kaikki <a href="user/">käyttäjät</a></p>
      
      <h2>Tilat</h2>
      
      <p>Näe kaikki <a href="space/">tilat</a></p>
    </div>
  </div>
{% endblock %}