{% extends "master.html" %}

{% block title %}
  Details about {{ myspaces.type }} {{ myspaces.location }}
{% endblock %}

{% block content %}
  <div class="mycard">
    <h1>{{ myspaces.type }} {{ myspaces.location }}</h1>
    <p>ID: {{ myspaces.idNumber }}</p>
    <p>Tilan sijainti: {{ myspaces.location }}</p>
    <p>Tilan käyttötarkoitus: {{ myspaces.type }}</p>

    <!-- Varattavuus -->
    <p>
      Vuokra/Laina: 
      {% if myspaces.availability == "rental" %}
        Vuokra
      {% elif myspaces.availability == "loan" %}
        Laina
      {% else %}
        Ei määritelty
      {% endif %}
    </p>

    <!-- Julkisuus -->
    <p>
      Tilan julkisuus: 
      {% if myspaces.publicity == "private" %}
        Yksityinen
      {% elif myspaces.publicity == "public" %}
        Julkinen
      {% else %}
        Ei määritelty
      {% endif %}
    </p>

    <p>Tilan koko: {{ myspaces.size }}m²</p>
    <p>Tilan kapasiteetti: {{ myspaces.capacity }}</p>
  </div>
{% endblock %}
